.chordbuttons {
  margin-bottom: 10px;

  > table {
    margin: 10px auto;
    position: relative;
    left: -10px;
    border-collapse: collapse;

    td {
      border: 0;
      padding: 2px;
    }

    tr.pending {
      background: #c0d4ff;
    }
  }
  
  button {
    width: 70px;
    height: 30px;
    border: 1px solid gray;

    &.active {
      background: #93b5ff;
    }

    &.stop {
      width: 100%;
      background: #ff9797;
    }
  }
}
